.adminhome{
    .align_list{
        width: 20%;
        float: left;
    }
    .list_item{
        cursor: pointer;
    }
    .managebooks{
        width: 80%; float:right;
        padding-left: 10px;
        
    }
    .align-name{
        width:50px;
    }
    .add_book{
        float: right;
    }
    .vertical_line{
        height: 150px;
    position: relative;
    width: 100%;
    margin-top: -50%;
    }
    .aline_image{
        width: 200px;
        height:200px;
    }
}