<div class="align_add_book">
<h2 mat-dialog-title class="aligntext_center">Add Book</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="AddBookForm" class="aligntext_center">
        <div>
        <mat-form-field>
            <input matInput formControlName="bookTitle" placeholder="bookTitle" class="bookTitle">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input matInput formControlName="authorname" placeholder="authorname" class="authorname">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input matInput formControlName="price" placeholder="price" class="price">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            
            <input matInput formControlName="coverpage" placeholder="coverpage" class="coverpage">
            <button mat-raised-button color="primary">Upload</button>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input matInput formControlName="description" placeholder="description" class="description">
        </mat-form-field>
    </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-button color="primary" mat-dialog-close>Cancel</button>
    <button mat-button color="primary" mat-dialog-close>Save</button>
  </mat-dialog-actions>
</div>